* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;         /*encaixa os filhos dentro do pai*/
    background-color: #282A36;
    color: white;
}

.titulo-destaque {
    color: palevioletred;
}

.apresentacao {
    margin: 10%;
    display: flex;                 /*deixa tudo na mesma linha */
    align-items: center;            /*pega o elemento de maior altura e e usa ele como base para definir o centro*/
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 600px;
}

.presentacao__conteudo__tutulo {
    font-size: 36px;
}

.presentacao__conteudo__paragrafo {
    font-size: 24px;
}
